<h3>Vitamin <%= @myvitamin.id %>: <%= @myvitamin.name %></h3>
<table>
  <tr>
    <td>Dosage per day: </td>
    <td><%= @myvitamin.dosage %></td>
  </tr>
  <tr>
    <td>Cost per month: </td>
    <td><%= @myvitamin.cost %></td>
  </tr>
  <tr>
    <td>Retailer: </td>
    <td><%= @myvitamin.retailer %></td>
  </tr>
  <tr>
    <td>Observations: </td>
    <td><%= @myvitamin.observations %></td>
  </tr>
  <tr>
    <td>Notes: </td>
    <td><%= @myvitamin.notes %></td>
  </tr>
  <tr>
    <td>Active: </td>
    <td><%= @myvitamin.active %></td>
  </tr>
  <tr>
    <td>Required: </td>
    <td><%= @myvitamin.required %></td>
  </tr>
</table>
<section>
  <div class="buttons"><%= button_to "Edit Vitamin", vitamins_edit_path(@myvitamin.id), method: :get%></div>
  <div class="buttons"><%= button_to "Delete Vitamin", vitamins_delete_path(@myvitamin.id), method: :delete, data: {confirm:"Are you Sure?" }  %></div>
</section>
