<!DOCTYPE html>
<html>
  <head>
    <title>Vitamin Tracker</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <nav>
          <ul>
              <% if session[:user_id] == nil %>
                <li><%= link_to "Login", "/auth/github" %></li>
                <% else %>
                <li><%= link_to "Logout", session_delete_path(session[:user_id]), method: :delete, data: {confirm:"End your session?"} %></li>
            <% end %>
          </ul>
        </nav>
    </header>
    <%= yield %>
  </body>
</html>
